<!--
  Generated template for the DetailsReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details reservation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	

    <div class="details-hopital" *ngIf ="menu =='Reservations à venir'">
    	<div class="banierehopi">
		    <a class="item-image" ng-class=""  >

		        <img src="{{link}}{{reservation.annonce.image_profil.chemin}}"  class="full-image"/> 
		    </a>
    	</div>
	  

	  <div class="cadre-details">{{reservation.annonce.name}}</div>

	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='simple'">prevu  le {{reservation.annonce.date | date:'dd/MM/yyyy'}} entre {{ reservation.annonce.heure_deb }} et {{ reservation.annonce.heure_fin }} a {{reservation.annonce.adresse}}</div>

	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='emporter'" class="texte-det-four-dr">Plat a emporter</div>
	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='permanente'" class="texte-det-four-dr">Disponibilite permanente</div>

	  <div *ngIf ="reservation.nb_convives == 1" class="cadre-details" >Vous avez reservé {{reservation.nb_convives}} place</div>

	  <div *ngIf ="reservation.nb_convives > 1" class="cadre-details" >Vous avez reservé {{reservation.nb_convives}} places</div>

	  <div  class="cadre-details" > {{reservation.annonce.prix}} Euros / Personne</div>

	  <div *ngIf ="reservation.annonce.type =='simple'" class="cadre-details" > {{reservation.annonce.places_restantes}} places restantes</div>

	  <div class="cadre-details" > Publié par {{reservation.annonce.user.username}}</div>

      <button *ngIf ="reservation.paiement == null" class="btndetailsres" (click)="goToNewPaiement(reservation)">payer</button>
      <button class="btndetailsres" (click)="goToMenuReservation()">Modifier</button>
      <button class="btndetailsres" (click)="annulerReservation(reservation.annonce.id, reservation.id)">Annuler</button>
    </div>



    <div class="details-hopital" *ngIf ="menu =='Reservations passées'">
    	<div class="banierehopi">
		    <a class="item-image" ng-class=""  >

		        <img src="{{link}}{{reservation.annonce.image_profil.chemin}}"  class="full-image"/> 
		    </a>
    	</div>
	  

	  <div class="cadre-details">{{reservation.annonce.name}}</div>

	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='simple'">Le {{reservation.annonce.date | date:'dd/MM/yyyy'}} entre {{ reservation.annonce.heure_deb }} et {{ reservation.annonce.heure_fin }} a {{reservation.annonce.adresse}}</div>

	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='emporter'" class="texte-det-four-dr">Plat a emporter</div>
	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='permanente'" class="texte-det-four-dr">Disponibilite permanente</div>

	  <div  class="cadre-details" > {{reservation.annonce.prix}} Euros / Personne</div>

	  <div *ngIf ="reservation.annonce.nb_reservations == 1" class="cadre-details" > {{reservation.annonce.nb_reservations}} participant</div>

	  <div *ngIf ="reservation.annonce.nb_reservations > 1" class="cadre-details" > {{reservation.annonce.nb_reservations}} participants</div>

      <button class="btndetailsres" (click)="goToAvis(reservation)">Avis</button>
    </div>


    <div class="details-hopital" *ngIf ="menu =='Reservations annulées'">
    	<div class="banierehopi">
		    <a class="item-image" ng-class=""  >

		        <img src="{{link}}{{reservation.annonce.image_profil.chemin}}"  class="full-image"/> 
		    </a>
    	</div>
	  

	  <div class="cadre-details">{{reservation.annonce.name}}</div>

	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='simple'">Le {{reservation.annonce.date | date:'dd/MM/yyyy'}} entre {{ reservation.annonce.heure_deb }} et {{ reservation.annonce.heure_fin }} a {{reservation.annonce.adresse}}</div>

	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='emporter'" class="texte-det-four-dr">Plat a emporter</div>
	  <div class="cadre-details" *ngIf ="reservation.annonce.type =='permanente'" class="texte-det-four-dr">Disponibilite permanente</div>

	  <div  class="cadre-details" > {{reservation.annonce.prix}} Euros / Personne</div>

	  <div *ngIf ="reservation.annonce.nb_reservations == 1" class="cadre-details" > {{reservation.annonce.nb_reservations}} participant</div>

	  <div *ngIf ="reservation.annonce.nb_reservations > 1" class="cadre-details" > {{reservation.annonce.nb_reservations}} participants</div>

    </div>

</ion-content>
