page-reservation-modal {
	

}

ion-modal {
padding: 100px 30px 290px 30px;
background: rgba(0,0,0,0.7)
}

.btnres{
	background-color: #ac0203;
	margin-top: 5%;
	padding-left: 10%;
    padding-right: 10%;
	color: #ffffff;
	float:left;
	height: 50px;
	padding-top: 4%;
	font-size: 16px;
	border-radius: 15px;
}

.btnresval{
	background-color: #ac0203;
	margin-top: 5%;
	margin-left: 15px;
	padding-left: 10%;
    padding-right: 10%;
	color: #ffffff;
	float:left;
	height: 50px;
	padding-top: 4%;
	font-size: 16px;
	border-radius: 15px;
}
