page-virement {

}

.btnpublier{
    background-color: #ac0203;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    *padding-left: 10%;
    *padding-right: 10%;
    color: #ffffff;
    height: 50px;
    
    font-size: 16px;
    border-radius: 15px;
}
